@use "variables";

/************Team css start***************/
.about_part {
  position: relative;
  z-index: 99;
  background-image: url(../../static/img/about_overlay.png);
  background-repeat: no-repeat;
  background-position: left;
  margin-top: 170px;

  @media #{variables.$tab} {
    margin-top: 0;
    background-image: none;
    padding: 70px 0 0;
  }

  @media #{variables.$medium_device} {
    margin-top: 80px;
    background-image: none;
  }

  .about_part_text {
    @media #{variables.$tab} {
      padding-left: 0;
    }

    @media #{variables.$medium_device} {
      padding-left: 0;
    }

    h5 {
      font-family: variables.$font_stack_1;
      color: #556172;
      font-size: 14px;
      font-weight: 500;
      position: relative;
      padding-left: 75px;
      text-transform: uppercase;

      &:after {
        position: absolute;
        left: 0;
        top: 10px;
        height: 2px;
        width: 60px;
        content: "";
        background-color: variables.$btn_bg;
      }
    }

    h2 {
      font-size: 60px;
      font-weight: 600;
      line-height: 70px;
      margin-bottom: 30px;
      position: relative;

      @media #{variables.$tab} {
        font-size: 25px;
        margin-bottom: 10px;
        line-height: 35px;
        margin-top: 15px;
      }

      @media #{variables.$medium_device} {
        font-size: 28px;
        margin-bottom: 20px;
        line-height: 40px;
      }
    }

    p {
      line-height: 1.929;
      margin-bottom: 7px;

      @media #{variables.$small_mobile} {
        margin-bottom: 10px;
      }

      @media #{variables.$large_mobile} {
        margin-bottom: 20px;
      }

      @media #{variables.$tab_device} {
        margin-bottom: 20px;
      }

      @media #{variables.$medium_device} {}
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      margin-top: 42px;

      @media #{variables.$small_mobile} {
        margin-bottom: 10px;
      }

      @media #{variables.$large_mobile} {
        margin-bottom: 20px;
      }

      @media #{variables.$tab_device} {
        margin-bottom: 20px;
      }

      @media #{variables.$medium_device} {}

      li {
        display: inline-block;
        margin-bottom: 10px;
        font-size: 14px;
        padding-left: 80px;
        padding-top: 30px;
        color: variables.$font_8;
        position: relative;

        @media #{variables.$tab} {
          padding-left: 41px;
          padding-top: 5px;
          margin-bottom: 0;
        }

        @media #{variables.$medium_device} {
          padding-left: 41px;
          padding-top: 5px;
          margin-bottom: 0;
        }

        span {
          margin-right: 17px;
          font-size: 50px;
          position: absolute;
          left: 0;
          top: 20px;
          color: variables.$btn_bg;

          @media #{variables.$tab} {
            padding-bottom: 15px;
            position: absolute;
            left: 0;
            top: 0;
            font-size: 35px;
          }

          @media #{variables.$medium_device} {
            padding-bottom: 15px;
            position: absolute;
            left: 0;
            top: 0;
            font-size: 35px;
          }
        }
      }
    }

    .btn_1 {
      margin-top: 6px;
    }
  }
}

.experiance_part {
  background-image: url(../../static/img/experiance_overlay.png);
  background-repeat: no-repeat;
  background-position: right;

  @media #{variables.$tab} {
    background-image: none;

    .about_part_img {
      margin-top: 20px;
    }
  }

  @media #{variables.$medium_device} {
    background-image: none;

    .about_part_img {
      margin-top: 20px;
    }
  }

  .about_text_iner {
    margin-top: 72px;
    display: flex;
    align-items: center;

    .about_text_counter {
      background-image: url(../../static/img/heading_bg.png);
      background-size: contain;
      background-position: left;
      background-repeat: no-repeat;

      h2 {
        font-size: 150px;
        line-height: 120px;
        display: inline-block;
        color: variables.$btn_bg;
        padding-right: 35px;
        border-right: 1px solid variables.$font_1;
        font-weight: 700;
        margin-bottom: 0;

        @media #{variables.$tab} {
          font-size: 75px;
          line-height: 80px;
          margin-top: 0;
        }
      }
    }

    .about_iner_content {

      text-transform: capitalize;
      margin-left: 35px;

      h3 {
        color: variables.$font_1;
        display: inline-block;

        @media #{variables.$tab} {
          font-size: 20px;
        }
      }

      span {
        color: variables.$heading_color;
        display: block;
      }
    }
  }
}

.single_experiance_section {
  margin-top: 0;
  margin-bottom: 140px;

  @media #{variables.$tab} {
    margin-bottom: 70px;
  }

  @media #{variables.$medium_device} {
    margin-bottom: 80px;
  }
}
