@use "variables";

/**************** banner part css start ****************/
.banner_part {
  height: 800px;
  position: relative;
  overflow: hidden;
  background-image: url(/paks-images/PAKS-Front.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% calc(50% - 90px);

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #222222;
    opacity: 0.5;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
  }

  @media #{variables.$tab} {
    height: 550px;
    // background-image: none;
    background-image: url(/paks-images/PAKS-Front-Small.jpeg);
    background-size: contain;
    background-color: #f7f7f7;
    background-position: center top;
  }

  @media #{variables.$medium_device} {
    height: 550px;
    // background-image: none;
    // background-size: contain;
    background-image: url(/paks-images/PAKS-Front-Small.jpeg);
    background-color: #f7f7f7;
    background-position: center top;
  }

  .banner_text {
    display: table;
    width: 100%;
    height: 800px;

    .banner_text_iner {
      display: table-cell;
      vertical-align: middle;

      @media #{variables.$tab} {
        vertical-align: middle;
      }

      @media #{variables.$big_screen} {
        padding-top: 6rem;
      }
      @media #{variables.$extra_big_screen} {
        padding-top: 6rem;
      }
    }

    @media #{variables.$tab} {
      text-align: center;
      padding-top: 0px;
      height: 650px;
    }

    @media #{variables.$medium_device} {
      height: 650px;
    }

    h5 {
      font-size: 14px;
      text-transform: uppercase;
      font-weight: 500;
      color: #556172;
      margin-bottom: 14px;
    }

    h1 {
      font-size: 65px;
      text-transform: capitalize;
      font-weight: 700;
      margin-bottom: 27px;
      line-height: 75px;
      color: white;

      @media #{variables.$tab} {
        font-size: 30px;
        margin-bottom: 15px;
        line-height: 1.3;
      }

      @media #{variables.$medium_device} {
        font-size: 40px;
        margin-bottom: 15px;
        line-height: 1.4;
      }

      span {
        color: variables.$btn_bg;
      }
    }

    p {
      font-size: 15px;
      line-height: 1.8;
      font-family: variables.$font_stack_1;
      color: #f7f7f7;
    }

    .btn_1 {
      margin-top: 44px;
    }
  }
}

/**************** hero part css end ****************/
