@use "variables";

/**************** copyright part css start ****************/
.copyright_part {
  background-color: variables.$footer_bg;
  padding: 26px 0px;

  p {
    color: #8a8a8a;
    font-family: 300;
  }

  a {
    color: variables.$btn_bg;
  }

  .footer-social {
    @media #{variables.$small_mobile} {
      margin-top: 20px;
    }

    @media #{variables.$large_mobile} {}

    @media #{variables.$tab_device} {}

    @media #{variables.$medium_device} {}

    a {
      width: 35px;
      height: 35px;
      display: inline-block;
      line-height: 35px;
      border: 1px solid #ff7e5f;
      text-align: center;
      margin-left: 10px;
      color: variables.$white_color;

      &:hover {
        background-color: #ff7e5f !important;
        color: variables.$white_color !important;
      }

      i {
        &:hover {
          color: variables.$white_color;
        }
      }
    }
  }

  @media #{variables.$small_mobile} {
    .footer-text {
      text-align: center;
    }
  }

  @media #{variables.$large_mobile} {
    .footer-text {
      text-align: center;
      margin-bottom: 25px !important;
    }
  }

  @media #{variables.$tab_device} {
    .footer-text {
      text-align: center;
      margin-bottom: 25px !important;
    }
  }

  @media #{variables.$medium_device} {}

  span.ti-heart {
    font-size: 12px;
    margin: 0px 2px;
  }
}
